<!DOCTYPE html>
<html>
<head>
  <title>ImagiGames</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


</head>
<body>
  <div class="user_banner">
<% if current_user %>
    <div id="user_info">
      <img id="user_image" src="<%= current_user.image %>" />
      <%= current_user.email %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <p id="home_logo"><%= link_to image_tag('/camera.png'), root_path %></p>
    </div>
    
  <% else %>
    <%= link_to 'sign in', new_user_session_path %>
    <%= link_to 'sign up', new_user_registration_path %>

  <% end %>

<%= yield %>
</div>

<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

</body>
</html>
